* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

header {
  height: 100px;
}

header img {
  width: 80px;
  margin-right: 20px;
}

ul {
  list-style: none;
}
header ul {
  margin-top: 20px;
  font-size: 1.2rem;
}
footer ul {
  margin-top: 20px;
  color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
footer li {
  margin-top: 5px;
  color: gray;
}

/* utilitis */

.d-flex {
  display: flex;
}

.mt-40 {
  margin-top: 40px;
}
.pd-10 {
  padding: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.bg-black {
  background-color: black;
}
.color-white {
  color: white;
}
.bg-grey {
  background-color: rgba(48, 48, 48);
}

/* layout */

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}

.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.gap-15 {
  gap: 15px;
}
.wrap {
  flex-wrap: wrap;
}

.footer-top {
  background-image: url(../src/assets/img/footer-bg.jpg);
  background-position: center;
}
.aaaa {
  position: relative;
}

.list-footer {
  width: 50%;
}
.conteiner-img-footer {
  position: relative;
  width: 40%;
}
.img-footer-top {
  position: absolute;

  right: 0;
}
.footer-bottom {
  position: relative;
  z-index: 222;
}

.btn-footer {
  padding: 10px;
  background-color: rgba(48, 48, 48);
  border: 2px solid rgba(25, 89, 148);
  color: white;
}

@media (max-width: 650px) {
  nav {
    display: none;
  }
  footer img {
    display: none;
  }
  .header-container {
    justify-content: center;
  }
  .conteiner-img-footer {
    display: none;
  }
  .conteiner-list {
    justify-content: center;
  }
}
