* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 120px;
  padding: 20px;
}
a {
  text-decoration: none;
}
header a {
  color: black;
}
footer a {
  color: gray;
}
header img {
  width: 80px;
  margin-right: 20px;
}

ul {
  list-style: none;
}
header ul {
  margin-top: 20px;
  font-size: 1.2rem;
}
footer ul {
  margin-top: 20px;
  color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
footer li {
  margin-top: 5px;
  color: gray;
}

/* utilitis */
.cl-blue {
  color: rgba(25, 89, 148);
}
.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
.width-40 {
  width: 40%;
}
.mt-40 {
  margin-top: 40px;
}
.mr-10 {
  margin-right: 10px;
}
.pd-10 {
  padding: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.bg-black {
  background-color: black;
}
.color-white {
  color: white;
}
.bg-grey {
  background-color: rgba(48, 48, 48);
}
.bg-blue {
  background-color: rgba(2, 130, 249);
}
.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.gap-15 {
  gap: 15px;
}
.wrap {
  flex-wrap: wrap;
}
/* layout */

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}

.footer-top {
  background-image: url(../src/assets/img/footer-bg.jpg);
  background-position: center;
}
.col-main {
  width: 20%;
}

main img {
  width: 50px;
}
.list-footer {
  width: 50%;
}
.conteiner-img-footer {
  position: relative;
  width: 40%;
}
.img-footer-top {
  position: absolute;
  top: -50px;
  width: 500px;
  right: 0;
}
.footer-bottom {
  position: relative;
  z-index: 222;
}

.btn-footer {
  padding: 10px;
  background-color: rgba(48, 48, 48);
  border: 2px solid rgba(25, 89, 148);
  color: white;
}

@media (max-width: 650px) {
  nav {
    display: none;
  }
  footer img {
    display: none;
  }
  .header-container {
    justify-content: center;
  }
  .conteiner-img-footer {
    display: none;
  }
  .conteiner-list {
    justify-content: center;
  }
  .col-main {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
}
