* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

header {
  height: 80px;
}

header img {
  width: 70px;
}

header ul {
  list-style: none;
}
/* utilitis */

.d-flex {
  display: flex;
}

.mt-40 {
  margin-top: 40px;
}
.pd-10 {
  padding: 10px;
}
/* layout */

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.gap-25 {
  gap: 25px;
}
