* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

header {
  height: 100px;
}

header img {
  width: 80px;
  margin-right: 20px;
}

ul {
  list-style: none;
}
header ul {
  margin-top: 20px;
}
footer ul {
  margin-top: 20px;
  color: white;
}
footer li {
  margin-top: 5px;
  color: gray;
}

/* utilitis */

.d-flex {
  display: flex;
}

.mt-40 {
  margin-top: 40px;
}
.pd-10 {
  padding: 10px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.bg-black {
  background-color: black;
}
.color-white {
  color: white;
}
/* layout */

.container {
  width: 80%;
  max-width: 1020px;
  margin: 0 auto;
}

.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.gap-15 {
  gap: 15px;
}
.wrap {
  flex-wrap: wrap;
}

.footer-top {
  background-image: url(../src/assets/img/footer-bg.jpg);
  background-position: center;
}
footer img {
  width: 300px;
}

@media (max-width: 650px) {
  nav {
    display: none;
  }
  footer img {
    display: none;
  }
  .header-container {
    justify-content: center;
  }
}
