* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

header {
  height: 100px;
}

header img {
  width: 70px;
}

header ul {
  list-style: none;
}
/* utilitis */

.d-flex {
  display: flex;
}

.mt-40 {
  margin-top: 40px;
}
.pd-10 {
  padding: 10px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.bg-black {
  background-color: black;
}
.color-white {
  color: white;
}
/* layout */

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.gap-15 {
  gap: 15px;
}
